
 * {
 	margin: 0;
 	padding: 0;
 	color: black; 
 }

 header {
 	text-align: center;
 	font-size: 1.5em;
 	padding-top: 1em;
 	padding-bottom: 1.5em;
 }

 .eachMenu {
 	font-size: 1em;
 	border: 2px solid black;
 	background-color: grey;
 	margin: 5px;
 }

 .h2block {
 	width: 25%;
 	background-color: pink; 
 	border: 1px solid black;
 	float: right;
 	padding: 3px auto;
 	text-align: center; 

 }

 .h2block h2 {
 	font-size: 1.6em;
 }

 .pblock {
 	clear: both;
 	padding:10px;
 }

 .b2 {
 	background-color: red;
 	color: white;
 }

 .b3 {
 	background-color: yellow;
 }

  @media screen and (min-width: 992px) {
 	.eachMenu {
 		width: 30%; 
 		display: inline-block;
 		margin-left: 20px;
 	}
 	.section {
 		margin: 0;
 		padding: 0;
 	}

 }


 @media screen and (min-width: 768px) and (max-width: 991px) {
 	.eachMenu {
 		width: 45%; 
 		margin-left: 20px;	
  		display: inline-block;
 	}
 	#sushi {
 		width: 94%;
 		margin-right: 10px;
  	}

  	.navlist  {
  		display: hidden;
  	}
 }


 @media screen and (max-width: 767px) {
 	.eachMenu {
 		margin: 2% 10%;
 	}

	.h2block h2 {
   		font-size: 1.5em;
 	}


 }

